body{
	background-color: pink;
}
h1{
	background-color: white;
}
.container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.container div{
	width: 200px;
	text-align: center;
	justify-content: space-between;
	flex-basis: 25%;
}
.parent{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 20px;
	margin: 5px;
}
.parent div{
	width: 200px;
	text-align: center;
}
.child{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
}
.child div{
	width: 200px;
	text-align: center;
	justify-content: space-between;
	flex-basis: 25%;
}
.arivu{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr;
	background-color: white;
	padding: 10px;
	line-height: 25px;
	text-align: center;
}
