*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 1.5rem;
	min-height: 250vh;
}
.outer{
	border: 2px solid black;
	width: 75vw;
	height: 150vh;
	margin: 40px auto;
}
.inner{
	border: 3px solid grey;
	width: 50vw;
	height: 100vh;
	margin: 100px auto;
}
.box{
	width: 150px;
	height: 150px;
	color: aliceblue;
}
.absolute{
	background-color: violet;
	position: absolute;
	top: 0;
	center: 0;
}
.relative{
	background-color: pink;
	position: relative;
	top: 0;
	left: 0;
}
.fixed{
	background-color: grey;
	position: fixed;
	left: 0;
}
.sticky{
	background-color: violet;
	position: sticky;
	top: 20px;
	left: 10px;
}