*{
	scroll-behavior: smooth;
}
section{
	height: 100vh;
}
header{
	font-size: 3rem;
	postion: sticky;
	color: black;
	height: 50px;
	text-align: center;
	top: 0;
}
footer{
	position: relative;
	background-color: pink;
	text-align: center;
	min-width: 100%;
	bottom: 0;
}